<ul ngbNav class="nav nav-pills" [(activeId)]="active">
  <li class="nav-item" ngbNavItem="list">
    <a class="nav-link" aria-current="page" href="#">Plot List</a>
  </li>
  <li class="nav-item" ngbNavItem="create">
    <a class="nav-link" aria-current="page" (click)="createNew($event)">Create Plot</a>
  </li>
</ul>

<table class="table table-striped col-md-6">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Crop</th>
    <th scope="col">Area</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let plot of plots; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      {{ plot.crop?.name }}
    </td>
    <td>{{ plot.area | number }}</td>
    <td>
      <button class="btn btn-success" type="button" (click)="edit(plot, $event)">Edit</button>
      <button class="btn btn-danger" type="button" (click)="delete(plot.id)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
