<div *ngIf="form" class="row">
  <div class="col-md-6">
    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="form"
    >
      <div class="form-group">
        <label>Crop</label>
        <input
          [attr.disabled]="plot.crop?.name"
          name="Crop"
          formControlName="crop"
          class="form-control"
        />
        <label>Area</label>
        <input
          name="Area"
          formControlName="area"
          class="form-control"
          required
        />
        <div class="alert alert-danger"
             *ngIf="form.controls['area'].touched && form.controls['area'].invalid">
          Area is required.
        </div>
        <label>Slot Times</label>
        <div>
          <p>Multi-select date-picker</p>
          <p>If you want to select a range, use Ctrl Key</p>
          <ngb-multi-date-picker
            [datesSelected]="datesSelected"
            (datesSelectedChange)="change($event)">
          </ngb-multi-date-picker>
        </div>
        <div>
          <input required
                 type="time"
                 name="Start Time"
                 formControlName="startTime"
                 class="form-control">
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <p>Plot Time Slots</p>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Status</th>
        <th scope="col">Start Time</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let slot of plot?.plotTimeSlots; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{ slot.status }}
        </td>
        <td>{{ slot.startDateTime | date }}</td>
        <td></td>
      </tr>
      </tbody>
    </table>

  </div>

</div>
