:host.ng-valid[required],
:host.ng-valid.required {
  border-left: none;
}

:host.ng-invalid:not(form) {
  border-left: none;
}

.invalid {
  border-left: 5px solid #a94442;
}

.valid {
  border-left: 5px solid #42a948;
}

nz-input-number {
  width: 100%;
}
