<nz-form-item
  vertical
  [ngClass]="itemClass"
>
  <nz-form-label
    *ngIf="name"
    [nzNoColon]="true"
    vertical
  >
    {{name}}
  </nz-form-label>
  <nz-form-control>
    <nz-input-number
      [disabled]="disabled"
      [ngClass]="required ? {valid: ngControl.valid, invalid: ngControl.invalid}: ''"
      [ngModel]="value"
      (ngModelChange)="changes($event)"
      [nzMax]="max"
    ></nz-input-number>
  </nz-form-control>
</nz-form-item>
<div
  [hidden]="!hasRequiredError()"
  class="alert alert-danger"
>
  {{name}} is required
</div>
