<nz-form-item
  vertical
  [ngClass]="itemClass"
>
  <nz-form-label
    *ngIf="name"
    [nzNoColon]="true"
    vertical
  >
    {{name}}
  </nz-form-label>
  <nz-form-control *ngIf="!textArea" [nzValidateStatus]="hasError">
    <input
      name="dff"
      [disabled]="disabled"
      #ref
      [ngClass]="required ? {valid: ngControl.valid, invalid: ngControl.invalid}: ''"
      (blur)="this.onTouch()"
      type="text"
      nz-input
      [(ngModel)]="value"
    />
  </nz-form-control>
  <nz-form-control *ngIf="textArea">
    <textarea
      [disabled]="disabled"
      #ref
      [ngClass]="required ? {valid: ngControl.valid, invalid: ngControl.invalid}: ''"
      (blur)="this.onTouch()"
      type="text"
      nz-input
      [ngModel]="value"
    ></textarea>
  </nz-form-control>
</nz-form-item>
<div
  [hidden]="!hasRequiredError()"
  class="alert alert-danger"
>
  {{name}} is required
</div>
